* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #1d2125;
  --light-gray: #f1f0ec;
  --accent-color: #ff8c00;
  --highlight: #ff9a1f;
  --dark-text: #1b1b1b;
  --text-background: rgba(20, 20, 20, 0.8);
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
.banner-logo {
  text-align: center;
  padding: 1em 0;
}
.banner-logo img {
  width: 200px;
}

.navlink {
  margin: 12px;
  padding: 4px;
  font-weight: 500;
  position: relative;

  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
  display: inline-block;
}
.navlink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background: var(--accent-color);
  transition: width 0.3s ease, left 0.3s ease;
}
.navlink:hover::after {
  width: 100%;
  left: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
